html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: black;
}
.flex-container {
  display: flex;
  flex-flow: row nowrap;
}
.App-header {
  text-align: center;
}
.App-title {
  color: orange;
}
.sidebar {
  width: 25%;
  flex-flow: column nowrap;

}
#map {
  background: black;
  height: 100%;
  width: 75%;
  flex-flow: column nowrap;
}


#footer {
  display: block;
  position: fixed;
  bottom: 0;
left: 0;
height: 65px;
width: 100%;
  color: white;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
}
