html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: black;
  color: white;
}
.flex-container {
  display: flex;
  flex-flow: row nowrap;
}
.App-header {
  text-align: center;
}
.App-title {
  color: orange;
}
.Sidebar {
  width: 20%;
  flex-flow: column nowrap;
  display: block;
  top: 0;
}
.Sidebar h4 {
  margin-top: 2px;
  text-align: center;
}
.Sidebar-title {
  text-align: left;
  color: orange;
  font-size: 20px;
}
.Sidebar-content {
  text-align: left;
  color: white;
  font-size: 15px;
  padding: 0 0 0 15px;

}
.Sidebar-locations-list {
  list-style-type: none;
  padding-left: 0;
}
a {
  color: orange;
  text-decoration: none;
}

a:hover, a:focus {
  color: rgb(207, 27, 172);
  text-decoration: none;
  }
#map {
  background: black;
  height: 100%;
  width: 80%;
  flex-flow: column nowrap;
}


#footer {
  display: block;
  position: relative;
  bottom: 0;
  left: 0;
  height: 65px;
  width: 100%;
  color: white;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
}
